{% extends "base.html" %}

{% block title %} 
<h1> Agregar directores</h1>
{% endblock %}

{% block content %}
    {% if request.method == "GET" %}
        <form action="" method="POST">
            {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
            <input type="submit" value = "Agregar genero">
        </form>
    {% endif %}

    {% if form_errors %}
        {{form_errors}}
    {% endif %}

    {% if mensaje %}
        {{mensaje}}
    {% endif %}
{% endblock %}